.carousel-type-title {
    text-align: center;
    margin: 1rem auto;

    @include media-query(normal) {
        margin: 1.5rem auto;
    }
}

.carousel {

    margin: auto;

    .slide {

        border: 1px solid #CCC;

        .title {
            font-weight: bold;
            padding: .5rem;
        }

        .desc {
            padding: .5rem;
        }

        .button-link {
            background-color: darken(aquamarine, 40%);
            color: #FFF;
            text-decoration: none;
            padding: 1rem;
            display: block;
            text-align: center;
            max-width: 112px;
            margin: 0 auto .5rem auto;
            transition: background-color, .15s;

            &:hover {
                background-color: darken(aquamarine, 50%);
            }
        }

    }

}